.post-details {
  border: 1px solid #8e8a8a;
  border-radius: 5px;
  padding: 50px;
  width: 90%;
  position: absolute;
  top: 10%;
  /* left: 50%;
  transform: translate(-50%, -50%); */
}
.comments-section {
  border: 1px solid #8e8a8a;
  border-radius: 5px;
  padding: 10px;
  width: 90%;
  position: absolute;
  top: 50%;
}
